DB_HOST=localhost
DB_DATABASE=secure_auth
DB_USER=root
DB_PASSWORD=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=tls
SMTP_AUTH_ENABLED=true
MAIL_FROM_ADDRESS=no-reply@example.com
MAIL_FROM_NAME="Secure Authentication System"
SMTP_USERNAME=
SMTP_PASSWORD=
MAIL_DEBUG=false
